@model IEnumerable<StackOverflowClone.Models.Question>
@{
    ViewBag.Title = "Index";
}


<div class="row pb-4">
    <div class="col-md-7">
        <h2>Questions</h2>
    </div>
    <div class="col-md-5 text-end">
        @Html.ActionLink("Ask Question", "AskQuestion", "Question", new { @class = "btn btn-primary" })
    </div>
</div>
@foreach (var item in Model)
{
    <div style="display:block;border:1px solid #000;padding:5px;margin-bottom:5px;">
        <div class="row p-0">
            <div class="col-md-1">
                hello
            </div>
            <div class="col-md-10" style="border-left:1px solid #000">
                  <div> @Html.ActionLink(item.Title, "QuestionDetails", "Question", new { id = item.Id }, new { @class = "text-primary text-decoration-none text-left" })</div>
                   <div class="row">
                       <div class="col-md-5">
                           @{ 
                               char[] delimiterChars = { ' ', ',', ';' };
                               string[] mytag = item.Tags.Split(delimiterChars, StringSplitOptions.RemoveEmptyEntries);
                               foreach(var i in mytag)
                               {
                                   <span style="color:#0a9eb2;padding:2px 3px;background-color:#91d4dd;border-radius:5px;font-size:10px;">@i</span>
                               }
                           }
                       </div>
                       <div class="col-md-7 text-end">
                           <span class="text-primary" style="font-size:10px;">@item.Client.Username </span>
                       </div>
                   </div>
            </div>
        </div>
    </div>
}
